In [ ]:
room={2:"정수빈",16:"김세진"}
print(room[2])
print(room[16])

정수빈
김세진

In [ ]:
print(room.get(2))

정수빈

In [ ]:
print(room.get(5))
print(room.get(5,"사용가능"))

None
사용가능

사전자료형안에 어떤값이 있는지

In [ ]:
print(2 in room)
print(11 in room)

True
False

In [ ]:
room={"A-3":"정수빈","B-100":"김세진"}
print(room["A-3"])
print(room["B-100"])

정수빈
김세진

In [ ]:
del room["A-3"]
print(room)

{'B-100': '김세진'}

In [ ]:
 #key 만 출력
 print(room.keys())
 #value 들만 출력
 print(room.values()) 
 #key , value 쌍으로 출력
 print(room.items())

dict_keys(['B-100'])
dict_values(['김세진'])
dict_items([('B-100', '김세진')])

In [ ]:
room.clear()

In [ ]:
#튜플
menu=("돈까스" , "마라탕")
print(menu[0])
print(menu[1])

돈까스
마라탕

In [ ]:
(name, age, hobby)=("정수빈",26,"코딩")
print(name, age , hobby)

정수빈 26 코딩

In [ ]:
#세트(집합)
#중복안됨,순서 없음
set={1,2,3,3,3,}
print(set)

{1, 2, 3}

In [ ]:
#교집합
java={"정수빈","김세진","정우진"}
python= set(["정수빈","류근재"])
print(java & python)

{'정수빈'}

In [ ]:
#합집합
print(java | python)
print(java.union(python))

{'김세진', '정수빈', '정우진', '류근재'}
{'김세진', '정수빈', '정우진', '류근재'}

In [ ]:
#차집합(java 할수있지만  python 못하는)
print(java - python)
print(java.difference(python))

{'김세진', '정우진'}
{'김세진', '정우진'}

In [ ]:
#python 할 줄 아는 사람이 늘어남
python.add("조상철")
print(python)

{'조상철', '정수빈', '류근재'}

In [ ]:
#java를 까먹음
java.remove("김세진")
print(java)

{'정수빈', '정우진'}

In [ ]:
#자료구조의 변경
menu={"커피","우유","주스"}
print(menu,type(menu))

menu=list(menu)
print(menu,type(menu))

menu=tuple(menu)
print(menu, type(menu))

menu=set(menu)
print(menu, type(menu))

{'우유', '주스', '커피'} <class 'set'>
['우유', '주스', '커피'] <class 'list'>
('우유', '주스', '커피') <class 'tuple'>
{'우유', '주스', '커피'} <class 'set'>